[user]
	name = AesaKamar
	email = Aesa.Kamar@gmail.com
[core]
	excludesfile = /Users/aesa/.gitignore
	editor = micro
[branch]
    autoSetupRebase = always
[push]
	default = current
[pull]
	default = current
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/aesa/.stCommitMsg
[alias]
	lgg = log --graph --decorate --all --oneline
	quick-stats = ! /usr/local/bin/git-quick-stats
	diffchar = diff --word-diff=color --word-diff-regex=.
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[github]
  token = 1a8fda478c7004a49c9367f3a73dc62a8bc73286