"*":
  "atom-beautify":
    general:
      _analyticsUserId: "9c6d7803-ccb0-4037-9285-d70f5641d8ec"
      muteAllErrors: true
      showLoadingView: false
    haskell:
      beautify_on_save: true
  "atom-haskell":
    hasAddedConfiguration: true
  "autocomplete-haskell":
    hideHintPanelIfEmpty: false
  core:
    telemetryConsent: "limited"
  editor:
    fontFamily: "Hasklig"
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "618d1504-5bc5-49c6-96ad-b2efed1441cd"
  "haskell-ghc-mod":
    builderManagement: true
    ghcModMessages: "upi"
    lowMemorySystem: true
    onChangeCheck: true
    onChangeLint: true
    onMouseHoverShow: "type"
    onSelectionShow: "typeAndInfo"
  "ide-haskell":
    messageDisplayFrontend: "linter"
    startupMessageIdeBackend: false
    switchTabOnCheck: false
  "ide-haskell-cabal":
    cabal:
      activeGhcVersion: "8.0"
  "ide-haskell-repl":
    defaultRepl: "stack"
  "linter-ui-default":
    hidePanelWhenEmpty: false
    panelHeight: 204
  minimap:
    absoluteMode: true
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "sync-settings":
    _lastBackupHash: "ebda399ebb5f5ee3a8ab5f3c5e838f4afd450239"
    gistId: "c29ca3bbc0ed1fcc0d195cd814e9e855"
    personalAccessToken: "0e3b218f758d30cda78b1295a53d166d58305f55"
  welcome:
    showOnStartup: false
